.navLogo{
  height: 2.5rem;
}
.archive {
  p {
    font-size: 1rem;
  }
}

h2 {
  color: $dark-brown;
}

h3 {
  color: $light-brown;
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
p {

  strong {
    color: $light-brown;
  }

}

a {
  color: $green;
  &:visited {
    color: $dark-green;
  }
}
.page__hero--overlay {
  padding: 5em 0;
}

.archive__item-teaser{
  max-height: 50vh;
}

img[src~="lim_height"]{
  max-height: 30vh;
}
